@model PagedList<AccountBooks.Models.ChargeModels>
@using Webdiyer.WebControls.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>我的記賬簿</h2>

@Html.Action("AddCharge")

@helper changeCategoryTextColor(string Category)
{
    if (Category.Equals("1"))
    {
        <p class="text-danger">收入</p>
    }
    else
    {
        <p class="text-info">支出</p>
    }
}

    <table id="ChargeList" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>类别</th>
                <th>日期</th>
                <th>金额</th>
                <th>备注</th>
                <th colspan="2">编辑</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chargeItem in Model)
            {
                var index = Model.IndexOf(chargeItem) + 1;
                <tr>
                    <td>@index</td>

                    <td>@changeCategoryTextColor(@chargeItem.Category)</td>

                    <td>@string.Format("{0:yyyy-MM-dd}", chargeItem.Date)</td>

                    @*<td>@string.Format("{0:C}", chargeItem.Amount)</td>{0:C}转化成货币型*@
                    <td>￥@chargeItem.Amount.ToString("#,###")</td>
                    <td>
                        <textarea cols="50" rows="5">
                            @chargeItem.Remarks
                        </textarea>
                    </td>
                    <td><a href="/Charge/Delete/@chargeItem.Id" onclick="return confirm('确认删除')">删除</a>
                        <a href="/Charge/Edit/@chargeItem.Id">修改</a></td>
                </tr>
            }
        </tbody>
    </table>

@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageNumber" })

